<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/styles/styles.css}" rel="stylesheet" type="text/css" />
  <meta charset="UTF-8"/>
  <title>Store List</title>
</head>
<body>
<div class="nav">
  <a th:href="@{/stores}">Stores</a>
  <a th:href="@{/platforms}">Platforms</a>
  <a th:href="@{/publishers}">Publishers</a>
  <a th:href="@{/games}">Games</a>
  <span id="currentEmployee" th:text="${currentEmployee.firstname}"></span>
</div>
<h1 th:text="'Store: ' + ${selectedStore.id}"> </h1>
<h3 th:text="'City: ' + ${selectedStore.city}"></h3>
<h3 th:text="'Country: ' + ${selectedStore.country}"></h3>
<a class="button" th:href="@{/stores/store/{id}/games(id=${selectedStore.id})}">Games</a>
<a class="button" th:href="@{/stores/store/{id}/employees(id=${selectedStore.id})}">Employees</a>

</body>
</html>