<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8"/>
    <title>Games</title>
</head>
<body>
<div class="nav" th:if="${currentEmployee != null}">
    <span id="currentEmployee" th:text="${currentEmployee.firstname}"></span>
</div>

<h1>Games</h1>
<div th:if="${selectedStore != null}">
    <table class="list">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Stock</th>
        </tr>
        <tr th:each="game : ${selectedStore.games}">
            <td th:text="${game.id}"> </td>
            <td th:text="${game.title}"> </td>
            <td th:each="stock : ${game.getStocks()}" th:if="${stock.game.id == game.id && stock.store.id == selectedStore.id}">
                <p th:text="${stock}"> </p>
            </td>
        </tr>
    </table>
    <a class="button" th:href="@{/stores/store/{id}/addGame (id=${selectedStore.id})}">Add Game</a>
</div>


</body>
</html>