<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" type="text/css" />
    <title>Add new Game</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>Add New Game</h1>
<form th:action="@{/games/save}" th:object="${newGame}" method="post">

    <p>Title: <input type="text" th:field="*{title}" /></p>
    <label>Platforms</label>
    <th:block th:each="platform : ${platformList}">
        <div>
            <input type="checkbox" th:field="*{platforms}" th:value="${platform.id}" th:text="${platform.name}"/>
        </div>
    </th:block>
    <label>Publisher</label>
    <th:block th:each="publisher : ${publisherList}">
        <div>
            <input type="radio" th:field="*{publisher}" th:value="${publisher.id}" th:text="${publisher.name}"/>
        </div>
    </th:block>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>